/*-------------------------------------------------------
    fonts
-------------------------------------------------------*/
@font-face {
    font-family: 'Syntax LT Std';
    font-weight: 400;
    src: url(../fonts/SyntaxLTStd-Roman.otf) format('OpenType');
}
@font-face {
    font-family: 'Syntax LT Std bold';
    font-weight: 700;
    src:  url(../fonts/SyntaxLTStd-Roman-bold.otf) format('OpenType');
}

/*-------------------------------------------------------
    General styles
-------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    color: #fff;
    font-family: 'Syntax LT Std' , sans-serif;
    font-size: 1em;
    line-height: 1.4;
    background-color: #272727;
}
html{
    position: relative;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    fill: #fff;
}
a:hover{
    color: #b7d333;
    fill: #b7d333;
}
img{
    height: 100%;
}
.transition, a{
    transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.max_w{
    max-width: 1024px;
    margin: auto;
    padding: 0 10px;
}
.small{
    font-size: .7em;
}
.medium{
    font-size: 1.1em;
}
.large{
    font-size: 1.4em;
}
textarea{
    resize: none;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.no-selection{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.sec{
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.social a{
    display: block;
    padding: 10px;
}
.social a svg{
    width: 15px;
    height: 15px;
}
.BG_text{
    color: #fff;
    opacity: .03;
    font-family: 'Syntax LT Std bold' , sans-serif;
    font-size: 7em;
    font-weight: bold;
    position: absolute;
}
.sec_title{
    display: block;
    text-align: center;
    padding: 20px;
    font-family: 'Syntax LT Std' , sans-serif;
    font-weight: normal;
    color: #b7d332;
    text-transform: uppercase;
    font-size: 1.75em;
}
.sec_title strong{
    font-family: 'Syntax LT Std bold' , sans-serif;
    color: #fff;
}
h2{
    margin: 20px 0;
}
.col_outline{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.col_outline .flex{
    height: 100%;
}
.col_outline .col{
    box-shadow: -1px 0 0 rgba(255,255,255,.05);
    height: 100%;
}
.col_outline .col:last-of-type{
    box-shadow: -1px 0 0 rgba(255,255,255,.05),1px 0 0 rgba(255,255,255,.05);
}
.content-block{
    margin-left: -10px;
    padding-right: 20px;
}
.img-block{
    margin: 25px -10px 0;
}
.img-block img{
    width: 100%;
}
/*-------------------------------------------------------
   Section one
-------------------------------------------------------*/
.first_sec{
    position: relative;
    padding: 0;
    background-color: #292929;
    z-index: 2;
}
.first_sec aside{
    float: left;
    background-color: #2e2e2e;
    padding: 50px;
    height: 100vh;
    position: relative;
}
aside .social{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
}
aside .slogan{
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 230px;
    right: 0;
    z-index: 13;
    text-transform: uppercase;
    font-size: .6em;
    font-family: 'Syntax LT Std bold' , sans-serif;
    letter-spacing: .2em;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
aside .slogan:before{
    content: '';
    position: absolute;
    right: calc( 100% + 18px);
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}
.logo_container{
    background-color: #2e2e2e;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    width: 200px;
    height: 280px;
}
.logo_container .BG_text{
    bottom: -47px;
    left: -15px;
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
}
.logo{
    width: 140px;
    height: 180px;
    display: block;
    background: url(../img/logo_vertical.png) no-repeat center center scroll transparent;
    background-size:60%;
    margin: auto;
}
/*-------------------------------------------------------
   Section two
-------------------------------------------------------*/
.second_sec {
    background-color: #272727;
}
.second_sec .BG_text{
    left: 40px;
    top: 15%;
}


/*-------------------------------------------------------
   Section three
-------------------------------------------------------*/

/*-------------------------------------------------------
   Section Four
-------------------------------------------------------*/

/*-------------------------------------------------------
   Section five
-------------------------------------------------------*/
.fifth_sec{
    position: relative;
}
.fifth_sec p{
    padding: 10px;
}
.contact_form{
    padding: 0 40px;
}
.form_btn{
    color: #171617;
    position: relative;
    width: 150px;
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
    background-color: #e2dacd;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    margin: auto;
    line-height: 1em;
}
.form_btn:hover{
    background-color: #171617;
    color: #fff;
}
.tf_7{
    position: absolute;
    left: 230px;
    top: 20px;
    font-size: 60px;
    color: #555;
    opacity: .3;
    word-spacing: -10px;
    pointer-events: none;
    font-weight: bold;
    text-align: center;
}
.tf_7 .num2{
    color:#000;
    font-size: 90px;
    opacity: .3;
    display: inline-block;
    position: relative;
    top: -15px;
    width: 112px;
}
.tf_7 .num1{
    color:#fff;
    font-size: 70px;
    opacity: .15;
    display: inline-block;
    position: relative;
    top:20px;
    width: 41px;
}

/*-------------------------------------------------------
   footer
-------------------------------------------------------*/
footer{
    text-align: center;
    background: #87744c;
    padding: 50px 20px 30px 20px;
    position: relative;
}
footer .full_logo2{
    width: 300px;
    float: right;
}
footer .social{
    position: static;
    float: left;
    text-align: left;
}
footer .social a{
    fill: #fff;
}
footer .social a:hover{
    fill: #171617;
}
.copyright{
    color: #fff;
    font-size: .7em;
    margin: 5px 0;
}


/*==================================================
#Media Queries
================================================== */
/* Note: Design for a width of 768px and smaller */
@media only screen and (max-width: 768px) {
    .loading{
        display: none;
    }
    .menu_btn{
        display: none;
    }

    footer .social {
        float: none;
        text-align: center;
    }
    footer{
        padding: 20px;
    }
}