/*-------------------------------------------------------
    fonts
-------------------------------------------------------*/
@font-face {
    font-family: 'Syntax LT Std';
    font-weight: 400;
    src: url(../fonts/SyntaxLTStd-Roman.otf) format('OpenType');
}
@font-face {
    font-family: 'Syntax LT Std bold';
    font-weight: 700;
    src:  url(../fonts/SyntaxLTStd-Roman-bold.otf) format('OpenType');
}

/*-------------------------------------------------------
    General styles
-------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    color: #fff;
    font-family: 'Syntax LT Std' , sans-serif;
    font-size: 1em;
    line-height: 1.4;
    background-color: #272727;
}
html{
    position: relative;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    fill: #fff;
}
a:hover{
    color: #b7d333;
    fill: #b7d333;
}
img{
    height: 100%;
}
.transition, a{
    transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
h1,h2,h3,h4,h5,h6{
    font-family:'Syntax LT Std bold' , sans-serif ;
    font-weight: normal;
}
.hidden{
    /*visibility: hidden;*/
    /*pointer-events: none;*/
}
.slow{
    transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
}
.max_w{
    max-width: 1024px;
    margin: auto;
    padding: 0 10px;
}
.small{
    font-size: .7em;
}
.medium{
    font-size: 1.1em;
}
.large{
    font-size: 1.4em;
}
textarea{
    resize: none;
    overflow: hidden;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.no-selection{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.sec{
    height: 100vh;
    padding: 70px 0;
    position: relative;
}
.social a{
    display: block;
    padding: 7px;
    text-align: center;
}
.social a svg{
    width: 15px;
    height: 15px;
}
.BG_text{
    color: #fff;
    opacity: .03;
    font-family: 'Syntax LT Std bold' , sans-serif;
    font-size: 7em;
    font-weight: bold;
    position: absolute;
}
.sec_title{
    display: block;
    text-align: center;
    padding: 20px 0;
    font-family: 'Syntax LT Std bold' , sans-serif;
    font-weight: normal;
    color: #b7d332;
    text-transform: uppercase;
    font-size: 1.75em;
}
.sec_title span{
    color: #fff;
}
h2{
    margin: 20px 0;
}
.col_outline{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.col_outline .flex{
    height: 100%;
}
.col_outline .col{
    box-shadow: -1px 0 0 rgba(255,255,255,.05);
    height: 100%;
}
.col_outline .col:last-of-type{
    box-shadow: -1px 0 0 rgba(255,255,255,.05),1px 0 0 rgba(255,255,255,.05);
}
.content-block{
    margin-left: -10px;
    padding-right: 20px;
}
.img-block{
    margin: 25px -10px 0;
}
.img-block img{
    width: 100%;
}
.no_padd{
    padding: 0;
}
.cover_img{
    background: url(../img/bg/BG_3.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text_center{
    text-align: center;
}
.btn{
    cursor: pointer;
    border: solid 1px #fff;
    width: auto;
    padding:0 60px 0 20px;
    font-size: .85em;
    position: relative;
    text-transform: uppercase;
    font-family: 'Syntax LT Std' , sans-serif;
    background-color: transparent;
    color: #fff;
    height: 40px;
}
.btn:after,.btn:before{
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    background: url(../img/arrow.svg) no-repeat center center scroll;
    background-size: 15px;
    padding: 0;
    box-sizing: border-box;
}
.btn:hover:before, .btn:hover:after{
    transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -moz-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -webkit-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.btn:before{
    border: none;
    background-position: -50px center;
}
.btn:hover:before{
    background-position: center center;
}
.btn:hover:after{
    background-position: 50px center;
}
/*-------------------------------------------------------
   Section one
-------------------------------------------------------*/
.first_sec{
    position: relative;
    padding: 0;
    background-color: #292929;
    z-index: 2;
}
.first_sec aside{
    float: left;
    background-color: #2e2e2e;
    padding: 50px;
    height: 100vh;
    position: relative;
}
aside .social{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    z-index: 100;
}
aside .slogan{
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 230px;
    right: 0;
    z-index: 13;
    text-transform: uppercase;
    font-size: .55em;
    font-family: 'Syntax LT Std' , sans-serif;
    letter-spacing: .2em;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
aside .slogan:before{
    content: '';
    position: absolute;
    right: calc( 100% + 18px);
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}
.logo_container{
    background-color: #2e2e2e;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    width: 200px;
    height: 280px;
}
.logo_container .BG_text{
    bottom: -47px;
    left: -15px;
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 57% 70%, 57% 100%, 0% 100%);
}
.logo{
    width: 140px;
    height: 180px;
    display: block;
    background: url(../img/logo_vertical.png) no-repeat center center scroll transparent;
    background-size:60%;
    margin: auto;
}
.carousel_arrows{
    position: absolute;
    z-index: 9999;
    bottom: 40%;
    left: 130px;
}
.carousetl_item_info{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 50%;
}
.carousel_img{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
.carousel_img img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
/*-------------------------------------------------------
   Section two
-------------------------------------------------------*/
.second_sec {
    background-color: #272727;
}
.second_sec .BG_text{
    left: 40px;
    top: 15%;
}
.icons_list{
    margin: 20px 0;
}
.icons_list li{
    margin: 20px 0;
}
.icons_list h3{
    text-transform: uppercase;
    margin: 5px 0;
    letter-spacing: .2em;
    font-size: 1em;
}
.first_line_icon svg{
    width: 60px;
    stroke-dasharray: 320px;
    stroke-dashoffset: 320px;
}
.second_line_icon svg{
    width: 70px;
    stroke-dasharray: 46px;
    stroke-dashoffset: 46px;
}
.third_line_icon svg{
    width: 70px;
    stroke-dasharray: 151px;
    stroke-dashoffset: 151px;
}
.animate svg{
    stroke-dashoffset:0;
}
.Specialization{
    padding-left:45px;
}


/*-------------------------------------------------------
   Section three
-------------------------------------------------------*/
.third_sec .BG_text{
    right: 50px;
    top: 100px;
}
/*-------------------------------------------------------
   Section Four
-------------------------------------------------------*/
.fourth_sec{
    height: auto;
}
.fourth_sec .BG_text{
    left: 50px;
    top:80px;
}
.clients_list a{
    display: block;
    padding: 30px 20px 0px;
}
.clients_list svg{
    fill:#959595;
}
.clients_list a:hover svg{
    fill:#b6d232;
}
/*-------------------------------------------------------
   Section five
-------------------------------------------------------*/
.fifth_sec{
    position: relative;
    background-color: #2e2e2e;
    padding: 0;
    min-height: 638px;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
}
.fifth_sec .flex{
    min-height: 100vh;
}
.fifth_sec .cover_img{
    padding:100px 7%;
    height: 100%;
    display: table;
    width: 100%;
}
.fifth_sec .BG_text{
    bottom: -45px;
    left: 10%;
}
.contact_form{
    padding: 0 20% 0 40px;
    display: table-cell;
    vertical-align: middle;
}
.form_btn{
    float: right;
}
.horiz_logo{
    display: inline-block;
    padding: 50px 0;
}
.horiz_logo img{
    width: 75%;
}
.fifth_sec .left_content{
    width: 100%;
    height: 100%;
    display: table;
}
.fifth_sec .content-block{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0 15%;
}
.fifth_sec .sec_title{
    text-align: left;
    font-size: 2.2em;
}
.links_list{
    margin: 40px 0;
}
.links_list li{
    width: 40%;
    display: inline-block;
    margin: 0 2%;
}
.links_list li a{
    display: inline-block;
    font-size: .8em;
    white-space: nowrap;
}
/*-------------------------------------------------------
   footer
-------------------------------------------------------*/
footer{
    padding: 10px;
    position: absolute;
    bottom: 20px;
}
footer .full_logo2{
    width: 300px;
    float: right;
}
footer .social{
    position: static;
    float: left;
    text-align: left;
}
footer .social a{
    fill: #fff;
}
footer .social a:hover{
    fill: #171617;
}
.copyright{
    color: #fff;
    font-size: .7em;
    margin: 5px 0;
}


/*==================================================
#Media Queries
================================================== */
/* Note: Design for a width of 768px and smaller */
@media only screen and (max-width: 768px) {
    .loading{
        display: none;
    }
    .menu_btn{
        display: none;
    }
    .col_outline .flex{
        display: none;
    }
}